<div class="welcome-img"></div>
<div class="welcome">
<h2> <%= @user.name%>'s Account Info: </h2>
<h4> Email: </h4>
<p> <%= @user.email%> </p>
<br>
<br>
 <h2> <%= @user.name%>'s Positive Posts! </h2>
<% current_user.positive_posts.each do |positive_post| %>
   <h4><a href="/positive_posts/<%= positive_post.id %>"> <%= positive_post.created_at.to_date %></a></h4>

  <p> <%= positive_post.content %> </p>
    
<br><br>
<% end %>
</div>